.racketCard {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  color: #3e3f40;
  text-decoration: none;
  font-weight: 500;
  position: relative;
  z-index: 0;
}

.link::after {
  position: absolute;
  content: '';
  inset: 0;
  z-index: -1;
}

.image {
  pointer-events: none;
}

.imageContainer {
  position: relative;
  pointer-events: none;
}

.button {
  position: absolute;
  top: 0;
  right: 0;
  pointer-events: auto;
}
