.favoriteButton {
  background-color: transparent;
  border: none;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  padding: 0;

  svg {
    fill: #6e7072;
  }
}

.isFavorite {
  svg {
    fill: #bd2020;
  }
}
