.rackets {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem 1rem;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0 2rem;
}

.title {
  font-weight: 500;
  font-size: 1.25rem;
}

.link {
  color: #3392ea;
}
