.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e1e2e3;
  padding: 1rem;
}

.appName {
  font-size: 1.25rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #585a5c;

  &:hover {
    text-decoration: none;
  }
}

.nav {
  padding: 0;
  margin: 0;
  list-style: none;
}

.navList {
  padding: 0;
  margin: 0 0 0 auto;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-top: 1px solid #e1e2e3;
  padding: 1rem;
  min-height: 7.5rem;
}

.copyRightText {
  font-size: 0.75rem;
  color: #6e7072;
}

.main {
  flex: 1;
  padding: 1rem;
}
